.home {
    position: fixed;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    opacity: 1;
}

.largeImageHome {
    position: fixed;
    opacity: 1;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: calc(var(--bs-gutter-x) * -.5);
    padding-left: calc(var(--bs-gutter-x) * -.5);
    display: unset;
}

.main-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: none;
    margin: -.5rem 0rem;
}

.main-div img {
    padding: .5rem;
}

.main-div img:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.fadeIn { 
    animation: fadeIn 5s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeOut { 
    animation: fadeOut 5s; 
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}