.largeImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.largeImage img {
    height: 100vh;
}

.left, .right {
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
} 

.right {
    display: flex;
    justify-content: start;
    align-items: start;
}

.right-inner-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 52.5%;
    width: 100%;
}

.right-inner-div {
    align-items: end;
}

.heart {
    height: 2rem;
    width: 2rem;
    font-weight: 100;
    cursor: pointer;
}

.arrow {
    height: 2.5rem;
    width: 2.5rem;
    font-weight: 100;
    cursor: pointer;
}

.X, .X-sm-md {
    height: 2.25rem;
    width: 2.25rem;
    font-weight: 100;
    cursor: pointer;
}

.heart {
    color: red;
    opacity: 0.6;
}

.left-inner-div span {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    color: red;
    opacity: 0.6;
}

.largeImage button {
    background-color: white;
    border: none;
}

.top-large-image, .bottom-large-image {
    display: none;
    height: 5vh !important;
}

@media only screen and (max-width: 768px) {
    .left, .right {
      display: none;
    }

    .top-large-image, .bottom-large-image {
        display: flex;
        align-items: center;
        font-weight: 700;
        width: 100vw;

    }

    .top-large-image {
        justify-content: end;
    }

    .largeImage {
        flex-direction: column;
        height: 100vh;
    }

    .largeImage img {
        object-fit: contain;
        width: 100vw;
    }
  }