.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 14px;
    letter-spacing: .5px;
    font-weight: 600;
    color: #333;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .wide {
      display: none;
    }
}

.thin, .thin-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 480px) {
    .thin {
      display: none;
    }
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.top img {
    height: 225px;
    width: 225px;
    cursor: pointer;
    padding: 5px;
}

.top div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: #333;
    height: 3rem;
    width: 3rem;
}

.facebook {
    color: #4267B2;
}

.bag {
    color: #008080;
}

.instagram {
    color: #E4405F;
  }

.link:hover {
    animation: fadeEffect 1s infinite;
}

@keyframes fadeEffect {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.bottom span {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.bottom span:hover {
    animation: name 1s forwards 1;
}

@keyframes name {
    from {
        color:#333;
    }
    to   { 
        color:#aecdd2;
    }
}